:root {
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);
  --color-very-dark-blue-main: hsl(217, 54%, 11%);
  --color-very-dark-blue-card: hsl(216, 50%, 16%);
  --color-very-dark-blue-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-very-dark-blue-main);
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-family: "Outfit", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-white);
}

h2 {
  font-weight: 400;
  color: var(--color-cyan);
}

p {
  font-weight: 300;
  color: var(--color-soft-blue);
}

span {
  color: var(--color-white);
}

.card {
  position: relative;
  background-color: var(--color-very-dark-blue-card);
  border-radius: 15px;
  padding: 1em;
  margin: 5em 0;
  box-shadow: 0.5em 4em 4em hsla(246, 76%, 5%, 0.5);
  max-width: 350px;
}

.card-image {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}

.nft-image {
  display: block;
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: var(--color-cyan);
  border-radius: 10px;
}

.view-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

.card-image:hover .overlay {
  opacity: 0.5;
  cursor: pointer;
}

.card-image:hover .overlay + .view-image {
  display: block;
}

.zone-icons {
  display: flex;
  justify-content: space-between;
}

.ethereum {
  font-size: 11px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.time-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1em;
}

.icons {
  margin-right: 0.5em;
}

.creation {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid hsl(215, 32%, 27%);
}

.avatar {
  width: 2em;
  border: solid white 1px;
  border-radius: 50%;
  margin-right: 0.5em;
}

h1:hover {
  color: var(--color-cyan);
}

span:hover {
  color: var(--color-cyan);
}

@media screen and (max-width: 375px) {
  body,
  main {
    padding: 0;
    margin: 0;
  }

  .card {
    margin: 4em 1em;
    padding: 1em;
    box-shadow: 0.25em 2em 2em hsla(246, 76%, 5%, 0.5);
  }
}

.attribution {
  color: var(--color-white);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
